// ---------------------left-text-section---------------------
  .send-resume-text ul li{
    font-size: 1.6rem;
  } 

  .send-resume-text h5{
    font-size: 26px;
    text-align: justify;
    padding-left: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
     }



// ---------------submit-resume-details---------------
.main-section-sbr{
  position: relative;
}
.sbr-text{
max-width: 700px;
padding: 0 20px;
margin: auto;
}
.sbr-text .headng h1{
  margin: 3rem 0;
}
.sbr-text .sbr-section{
  margin: 4rem 0;
}
.sbrx-section h2{
  margin: 2rem 0;
}
.sbr-text .headng h1{
  font-size: 3rem;
}
.sbr-text p{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.sbr-text .respn ul li{
  font-size: 1.4rem;
  // line-height: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
